In [3]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
url = 'https://liquipedia.net/dota2/DreamLeague/Season_20'
page = requests.get(url)

In [5]:
soup = BeautifulSoup(page.content,'html.parser')

In [6]:
eq = soup.find_all('span',class_="mw-headline")
general = list()
for i in eq:
    general.append(i.text)
grupos = [general[5],general[6],general[7]]
grupos

['Group A', 'Group B', 'Group Stage 2']

In [7]:
equip = soup.find_all('td',class_="grouptableslot")
equipos = list()
for i in equip:
    equipos.append(i.text)

equipos

[' Team Spirit',
 ' PSG.LGD',
 ' Talon Esports',
 ' Evil Geniuses',
 ' Tundra Esports',
 ' Team Secret',
 ' TSM',
 ' Team Liquid',
 ' 9Pandas',
 ' BetBoom Team',
 ' Gaimin Gladiators',
 ' Team Aster',
 ' beastcoast',
 ' Shopify Rebellion',
 ' OG',
 ' Entity',
 ' PSG.LGD',
 ' BetBoom Team',
 ' Talon Esports',
 ' 9Pandas',
 ' Evil Geniuses',
 ' Gaimin Gladiators',
 ' Team Spirit',
 ' Team Aster']

In [8]:
#LLAMADO DE TODO LOS NUMEROS DE POSICIONAMIENTO DE LA TABLA DE EQUIPOS
pnt = soup.find_all('td',class_=("bg-up",'bg-stay','bg-down'))
puntos = list()
for i in pnt:
    puntos.append(i.text)

In [9]:
#DEFINICION DE POSICIONAMIENTO EN LA TABLA DE LOS EQUIPOS A B Y STAGE
grupo_a1 = puntos[:8]
grupo_b1 = puntos[8:16]
grupo_stage_1 = puntos[16:]

#SACAMAOS AL PRIMER GRUPO A
grupo_a1

['1.', '2.', '2.', '4.', '5.', '6.', '7.', '8.']

In [10]:
#GRUPO B
grupo_b1

['1.', '2.', '2.', '4.', '5.', '6.', '7.', '8.']

In [11]:
#GRUPO C
grupo_stage_1

['1.', '2.', '2.', '4.', '4.', '4.', '4.', '8.']

In [12]:
#DEFINICION DE LOS EQUIPOS EN LOS GRUPOS A B Y STAGE
grupo_a = equipos[:8]
grupo_b = equipos[8:16]
grupo_stage = equipos[16:]


#EQUIPOS EN EL GRUPO A
grupo_a

[' Team Spirit',
 ' PSG.LGD',
 ' Talon Esports',
 ' Evil Geniuses',
 ' Tundra Esports',
 ' Team Secret',
 ' TSM',
 ' Team Liquid']

In [13]:
#EQUIPOS EN EL GRUPO B
grupo_b

[' 9Pandas',
 ' BetBoom Team',
 ' Gaimin Gladiators',
 ' Team Aster',
 ' beastcoast',
 ' Shopify Rebellion',
 ' OG',
 ' Entity']

In [14]:
#EQUIPOS EN EL GRUPO C
grupo_stage

[' PSG.LGD',
 ' BetBoom Team',
 ' Talon Esports',
 ' 9Pandas',
 ' Evil Geniuses',
 ' Gaimin Gladiators',
 ' Team Spirit',
 ' Team Aster']

In [15]:
pt = soup.find_all('td',style="font-weight:bolder;white-space:pre")
puntos1 = list()
for i in pt:
    puntos1.append(i.text)
#IMPORTANDO TODOS LOS PUNTAJES DE LOS PARTIDOS JUGADOS POR LOS EQUIPOS
print(puntos1)

['1-6-0', '1-6-0', '1-6-0', '0-7-0', '1-5-1', '1-5-1', '0-6-1', '1-3-3', '4-2-1', '3-2-2', '2-4-1', '2-4-1', '1-5-1', '0-6-1', '1-4-2', '0-3-4', '3-0', '2-0', '2-1', '1-2', '1-2', '1-2', '1-2', '0-2']

In [16]:
#DEFINICION DE PUNTOS PARA CADA GRUPO
grupo_a2 = puntos1[:8]
grupo_b2 = puntos1[8:16]
grupo_stage_2 = puntos1[16:]

#PUNTAJE DE LOS EQUIPOS DEL GRUPO A
grupo_a2

['1-6-0', '1-6-0', '1-6-0', '0-7-0', '1-5-1', '1-5-1', '0-6-1', '1-3-3']

In [17]:
#PUNTAJES DE LOS EQUIPOS DEL GRUPO B
grupo_b2

['4-2-1', '3-2-2', '2-4-1', '2-4-1', '1-5-1', '0-6-1', '1-4-2', '0-3-4']

In [18]:
#PUNTAJES DE LOS EQUIPOS DEL GRUPO C
grupo_stage_2

['3-0', '2-0', '2-1', '1-2', '1-2', '1-2', '1-2', '0-2']

In [19]:
#IMPORTANTO VICTORIAS Y DERROTAS EN TOTAL
pt2 = soup.find_all('td',style="white-space:pre")
puntos2=list()
for i in pt2:
  puntos2.append(i.text)

print(puntos2)

['8-6', '8-6', '8-6', '7-7', '7-7', '7-7', '6-8', '5-9', '10-4', '8-6', '8-6', '8-6', '7-7', '6-8', '6-8', '3-11', '6-1', '4-2', '4-2', '3-5', '4-4', '3-4', '2-5', '1-4']

In [20]:
#DEFINICIENDO LOS DATOS DE VICTORIAS Y DERROTAS PARA CADA EQUIPO
grupo_a3 = puntos2[:8]
grupo_b3 = puntos2[8:16]
grupo_stage_3 = puntos2[16:]

#VICTORIAS Y DERROTAS TOTALES PARA EL GRUPO A
grupo_a3

['8-6', '8-6', '8-6', '7-7', '7-7', '7-7', '6-8', '5-9']

In [21]:
#VICTORIAS Y DERROTAS TOTALES PARA EL GRUPO B
grupo_b3

['10-4', '8-6', '8-6', '8-6', '7-7', '6-8', '6-8', '3-11']

In [22]:
#VICTORIAS Y DERROTAS TOTALES PARA EL GRUPO STAGE
grupo_stage_3

['6-1', '4-2', '4-2', '3-5', '4-4', '3-4', '2-5', '1-4']

In [39]:
#ARMAMOS NUESTROS CUADROS 
#PARA EL GRUPO A
df1 = pd.DataFrame({'Orden':grupo_a1,'Equipos':grupo_a,'Win/Tie/Loss':grupo_a2,'Matches_BO3':grupo_a3})
df1.set_index('Orden',inplace=True)
#PARA EL GRUPO B
df2 = pd.DataFrame({'Orden':grupo_b1,'Equipos':grupo_b,'Win/Tie/Loss':grupo_b2,'Matches_BO3':grupo_b3})
df2.set_index('Orden',inplace=True)
#PARA EL GRUPO STAGE
df3 = pd.DataFrame({'Orden':grupo_stage_1,'Equipos':grupo_stage,'Win/Tie/Loss':grupo_stage_2,'Matches_BO3':grupo_stage_3})
df3.set_index('Orden',inplace=True)

In [40]:
#GRUPO A
print("\t\tGRUPO A")
print("___________________________________________")
df1

		GRUPO A
___________________________________________

               Equipos Win/Tie/Loss Matches_BO3
Orden
1.         Team Spirit        1-6-0         8-6
2.             PSG.LGD        1-6-0         8-6
2.       Talon Esports        1-6-0         8-6
4.       Evil Geniuses        0-7-0         7-7
5.      Tundra Esports        1-5-1         7-7
6.         Team Secret        1-5-1         7-7
7.                 TSM        0-6-1         6-8
8.         Team Liquid        1-3-3         5-9

In [41]:
#GRUPO B
print("\t\tGRUPO B")
print("___________________________________________")
df2

		GRUPO B
___________________________________________

                  Equipos Win/Tie/Loss Matches_BO3
Orden
1.                9Pandas        4-2-1        10-4
2.           BetBoom Team        3-2-2         8-6
2.      Gaimin Gladiators        2-4-1         8-6
4.             Team Aster        2-4-1         8-6
5.             beastcoast        1-5-1         7-7
6.      Shopify Rebellion        0-6-1         6-8
7.                     OG        1-4-2         6-8
8.                 Entity        0-3-4        3-11

In [42]:
#GRUPO STAGE 2
print("\t\tGRUPO STAGE 2")
print("___________________________________________")
df3

		GRUPO STAGE 2
___________________________________________

                  Equipos Win/Tie/Loss Matches_BO3
Orden
1.                PSG.LGD          3-0         6-1
2.           BetBoom Team          2-0         4-2
2.          Talon Esports          2-1         4-2
4.                9Pandas          1-2         3-5
4.          Evil Geniuses          1-2         4-4
4.      Gaimin Gladiators          1-2         3-4
4.            Team Spirit          1-2         2-5
8.             Team Aster          0-2         1-4

In [43]:
df1.describe().T

             count unique           top freq
Equipos          8      8   Team Spirit    1
Win/Tie/Loss     8      5         1-6-0    3
Matches_BO3      8      4           8-6    3

In [44]:
df2.describe().T

             count unique       top freq
Equipos          8      8   9Pandas    1
Win/Tie/Loss     8      7     2-4-1    2
Matches_BO3      8      5       8-6    3

In [45]:
df3.describe().T

             count unique       top freq
Equipos          8      8   PSG.LGD    1
Win/Tie/Loss     8      5       1-2    4
Matches_BO3      8      7       4-2    2